

@if (User.Identity.IsAuthenticated)
{
    <form class="form-inline" asp-page="/Account/Logout" method="post">
        Welcome @User.Identity.Name
        <button type="submit" class="ml-2 btn btn-link">Logout</button>
    </form>
}
else
{
    <a asp-page="/Account/Login" class="btn btn-link">Login</a>
}